<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disapproval</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <header>
            <h4>Disapproval</h4>
        </header>

        <form action="{{ url_for('disapproval') }}" method="post">
            <div class="msg">{{ msg }}</div>

            <div class="form_wrapper">
                <input id="passport" name="passport" type="text"  required>
                <label for="passport">Passport</label>
                <i class="material-icons">settings</i>
            </div>

            <button type="submit">Disapproval</button>

            <div class="new_account">
                Don't have an account? <a href="{{ url_for('register') }}">Sign Up here</a>
                <br>
                <a href="/approval" class="btn-primary"style="margin-bottom: 10px;">Approval</a>
                <br>
                <a href="/disapproval" class="btn-primary"style="margin-bottom: 10px;">Disapproval</a>
                <br>
                <a href="/check_account" class="button"style="margin-bottom: 10px;">Check account</a>
                <br>
                <a href='/delete_account'class="button"style="margin-bottom: 10px;">Delete account</a>
                <br>
                <a href="/remove_account1" class="button"style="margin-bottom: 10px;">Remoeaccount</a>
                <br>
                <a href="/country" class="button"style="margin-bottom: 10px;">Country</a>
                <br>
                <a href="/logout2" class="button"style="margin-bottom: 10px;">Logout</a>
                         
            </div>
        </form>
    </main>
</body>
</html>
